body,html {
    background: #eee;
    width: 100%;
    height: 100%;
}

.panel {
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    margin-bottom: 20px;
    background-color: #f6f6f6;
    border: 1px solid #dfdfdf;
    padding: 30px 28px;
    word-wrap: break-word;
    overflow: hidden;
}

.tab-content {
    padding: 10px 0;
}

.copyright {
    font-size: 11px;
    padding-left: 20px;
    color: #B5B5B5;
}

.advantages {
    color: #6e9b26;
}
.disadvantages {
    color: #e71226;
}

.product h2.product-name {
    margin-top: 0;
}

.product-features .product-feature {
    padding: 10px 0;
}
.product-feature .feature-name {
    text-align: center;
    font-weight: bold;
}

.product-feature .feature-review {
    width: 100%;
    background: #f2f5f7;
    height: 15px;
    overflow: hidden;
}
.feature-review div {
    height: inherit;
}
.feature-review.feature-advantages div {
    background: #6e9b26;
    float: right;
}
.feature-review.feature-disadvantages div {
    background: #e71226;
    float: left;
}

.product-reviews .comment {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d1d1d1;
}

.comment .comment-content {
    padding-left: 20px;
    border-left: 1px solid #d1d1d1;
}
.comment .comment-author-info p {
    margin: 0;
    padding: 0;
}
.comment-author-info .author, .comment-author-info .date {
    color: #777;
    font-style: italic;
}

form {
    padding: 20px 0;
}